body {
	margin: 0;
	padding: 0;
}

#viewport {
	/*width: 1024px;*/
	/*height: 1024px;*/
}

h1, h2, h3 {
	font-family: 'Caveat Brush';
	position: absolute;
	left: 3rem;
	bottom: 1rem;
	font-size: 5em;
	color: #fff;
}

h2 {
	bottom: 2rem;
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
	bottom: 4rem;
	left: 3rem;
	right: 3rem;
	text-align: center;
}

#controller {
	position: absolute;
	top: 7rem;
	right: 7rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background-color: #ffffff;
	border-radius: 1rem;
}

#controllerArea {
	content: '';
	display: block;
	position: absolute;
	right: 5.4rem;
	top: 5.4rem;
	width: 5rem;
	height: 5rem;
	border-radius: 2.5rem;
	border: 0.1rem solid rgba(255, 255, 255, 0.3);
}