body {
	margin: 0;
	padding: 0;
}

#viewport {
	/*width: 1024px;*/
	/*height: 1024px;*/
}

h1, h2 {
	font-family: 'Caveat Brush';
	position: absolute;
	left: 3rem;
	bottom: 1rem;
	font-size: 5em;
	color: #fff;
}

h2 {
	bottom: 2rem;
	font-size: 1.5em;
}